<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{%static 'myfolio/css/style.css' %}">

    <title>Edit my folio</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="position-relative my-4  d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase  text-white" style="-webkit-text-stroke: 1px #dee2e6;">My folio</h1>
                <h1 class="position-absolute text-uppercase text-secondary">Delete folio items</h1>
            </div>
            {% for i in abt %}
            <div class="text-center" style="font-family: 'Times New Roman', Times, serif;">
                <h1 class="mb-3">Hey!! <strong class="text-capitalize fst-italic">{{i.user_First_name}}</strong></h1>
                <a href="{% url  'logout' i.user_id   %}" class="btn fs-4  btn-outline-success rounded-pill">Logout</a>
            </div>
            {% endfor %}


            {% for message in messages%}
            <div id="thank" class="my-3 text-center p-2 bg-success rounded">

                <h5 class="text-white">{{message}}</h5>

            </div>
            {% endfor %}

            <!-- Skill section -->
            <h4 class="text-secondary bg-secondary text-white rounded-circle text-center py-2 mt-5 ">*Skill_Section*
            </h4>

            {% for i in abt %}

            <form class="row my-4 g-3" method="POST" action="{% url  'deletedataskill' i.user_id   %}">{% csrf_token %}

                <div class="col-md-6">
                    <label for="skillname" class="form-label">Skills_Name</label>
                    <select id="skillname" name="skillname" class="form-select" required>
                        <option value="">Choose skill name..</option>
                        {% for sl in skl %}
                        <option value="{{sl.user_Skill_name}}">{{sl.user_Skill_name}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-6 my-5 d-flex justify-content-center">
                    <button type="submit" class="btn w-25   btn-outline-secondary rounded-pill fs-4">delete</button>
                </div>
            </form>

            {% endfor %}


            <!-- Education section -->
            <h4 class="text-secondary bg-secondary text-white rounded-circle text-center py-2 mt-5 ">*Education_Section*
            </h4>

            {% for i in abt %}

            <form class="row my-4 g-3" method="POST" action="{% url  'deletedataeducation' i.user_id   %}">{% csrf_token %}

                <div class="col-md-6">
                    <label for="eduname" class="form-label">Education_Name</label>
                    <select id="eduname" name="eduname" class="form-select" required>
                        <option value="">Choose Education name..</option>
                        {% for edu in edun %}
                        <option value="{{edu.Highest_education_name}}">{{edu.Highest_education_name}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-6 my-5 d-flex justify-content-center">
                    <button type="submit" class="btn w-25   btn-outline-secondary rounded-pill fs-4">delete</button>
                </div>
            </form>

            {% endfor %}


            <!-- Experience section -->
            <h4 class="text-secondary bg-secondary text-white rounded-circle text-center py-2 mt-5 ">*Experience_Section*
            </h4>

            {% for i in abt %}

            <form class="row my-4 g-3" method="POST" action="{% url  'deletedataexperience' i.user_id   %}">{% csrf_token %}

                <div class="col-md-6">
                    <label for="expname" class="form-label">Experience_Name</label>
                    <select id="expname" name="expname" class="form-select" required>
                        <option value="">Choose Experience name..</option>
                        {% for exp in expce %}
                        <option value="{{exp.Experience_name}}">{{exp.Experience_name}} in {{exp.compony}} </option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-6 my-5 d-flex justify-content-center">
                    <button type="submit" class="btn w-25   btn-outline-secondary rounded-pill fs-4">delete</button>
                </div>
            </form>

            {% endfor %}


            <!-- Project section -->
            <h4 class="text-secondary bg-secondary text-white rounded-circle text-center py-2 mt-5 ">*Project_Section*
            </h4>

            {% for i in abt %}

            <form class="row my-4 g-3" method="POST" action="{% url  'deletedataproject' i.user_id   %}">{% csrf_token %}

                <div class="col-md-6">
                    <label for="proname" class="form-label">Project_Name</label>
                    <select id="proname" name="proname" class="form-select" required>
                        <option value="">Choose Project name..</option>
                        {% for pr in prot %}
                        <option value="{{pr.project_name}}">{{pr.project_name}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-6 my-5 d-flex justify-content-center">
                    <button type="submit" class="btn w-25   btn-outline-secondary rounded-pill fs-4">delete</button>
                </div>
            </form>

            {% endfor %}
        </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>