/* ========================== Basic Code ======================= */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');

*{
  box-sizing: border-box;
}
html{
  Line-height: 1.15;
}
body{
  margin:0;
  padding: 0;
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  Line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}

/* its for myfolio homepage */
/* ======================== Header Section ======================== */
.about-img{
  margin-left: -100px;
  right:-60px;
}
.btn{
  padding: 10px 25px;
  border-radius: 100px;
}
.btn-white{
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.btn-blue{
  border:2.4px solid #ffffff;
  color: #ffffff;
}
.hero-txt{
  margin-top: 150px;
}
.typed-text-output{
  font-size: 3rem;
}
.typed-cursor{
  font-size: 47px;
  color: black;
  opacity: 1;
  font-weight: 200;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  -ms-animation: blink 0.8s infinite;
  -o-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
        
@-webkit-keyframes blink{
  0% { opacity:1; }          
  50% { opacity:0; }
  100% { opacity:1; }
}
        
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.position-absolute{
  font-weight: 700;
}



/* ======================== Navigation Menu ======================== */
a{
  color: #ecfaf8;
  text-decoration: none;
  background-color: transparent;
}
a:hover{
  color: #a3c5c0;
  text-decoration: underline;
}
.navbar-light{
  display: none;
}
.navbar-light .navbar-nav .nav-link{
  padding: 25px 10px;
  color:whitesmoke;
  font-weight: 500;
  outline: none;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
  color: gray;
}


/* ======================== About Section ======================== */
.blue{
  background-color: rgb(32,125,248);
  color: #ffffff;
}
.blue:hover{
  background-color: rgb(255,255,255);
  color: #0f6eeb;
  border-radius: 2px solid rgb(20,109,241);
}


.progress {
  border-radius: 10px;
}

.progress .progress-bar{
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

.display-1{
  font-size: 160px;
  font-weight: 1000;
}
.disedit{
  font-size: 160px;
  font-weight: 1000;
}

.position-absolute{
  font-weight: 700;
}
.discriptext{
  font-family: 'STIX Two Text', serif;
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 1.8667;
  margin-top: 12px;
  text-align: justify; 
  white-space: normal;
}


/* ======================== Qualification ======================== */
.ex-me{
  margin-top: 35px;
}


/* ======================== portfolio Section ======================== */
.portfolio-item .portfolio-btn{
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius:3px ;
  opacity: 0;
  transition: 0.5s;
}
.portfolio-item:hover .portfolio-btn{
  opacity: 1;
  width: calc(100% - 50px);
  height: 45%;
  top: 30px;
  left: 30px;
}


/* ======================== portfolio Section ======================== */
.btn-social{
  font-size: 2rem;
}

/* additional */
.userbox{
  width: 20rem; 
  margin: 20vh auto;
}
.regbox{
  width: 23rem; 
  margin: 17vh auto;
}

/* for edit page */
.currentdata{
  padding: 5rem; 
  background-color: rgba(197, 203, 209, 0.645); 
}
.proname {
  font-size: 4vh;
}


/* ======================== additional Media Qureies for responsiveness ======================== */
@media screen and (max-width: 800px) {
  .about-img{
    padding-left: 6rem;
    margin-top: 3rem;
  }
  .portfolio-item:hover .portfolio-btn{
    height: 8.5rem;
  }
  .userbox{
    margin: 18vh auto;
  }
  .regbox{
    margin: 10vh auto; 
  }
  .disedit{
    font-size: 120px;
  }
  
  
 
  
}
@media screen and (max-width: 600px) {

  .display-1{
    font-size: 66px;
  }
  .disedit{
    font-size: 47px;
  }
  .editbtn{
    width:-webkit-fill-available;
    font-size: 20px;
    margin: 10px;
  }
  .absedit{
    font-size: 25px !important;
  }

  .position-absolute{
    font-size: 32px;
  }
  .about-img{
    padding-left: 6rem;
    margin-top: 3rem;
  }
  .portfolio-item:hover .portfolio-btn{
    height: 5.8rem;
  }
 .btn-social{
   font-size: 22px;
   margin-top: 5px;
   
 }
 .typed-text-output{
  font-size: 2rem;
}
 .maintxt{
   font-size: 58px;
 }
.qualifitxt{
  font-size: 20px;
}

.userbox{
  width: 17rem;
  margin: 18vh auto;
}
.regbox{
  width: 18rem; 
  margin: 8vh auto;
}
.currentdata{
  padding: 1rem;
}

}

