<!DOCTYPE html>
<html>

<head>
	<title>!!!LOGIN!!!</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	{% for i in about %}
	<link rel="shortcut icon" href="{{i.user_image}}" type="image/x-icon">
	{% endfor %}

	<!-- css link -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'myfolio/css/style.css' %}">
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			background: content-box radial-gradient(#6596d2,black) !important;
		}

		#messages {
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="container">
			<div class="bg-dark p-4 userbox  rounded">
				<div class="d-flex pb-3  justify-content-center">
					<h3 class="text-white" id="form-title">LOGIN</h3>
				</div>
				<div class="d-flex justify-content-center form_container ">
					{% for id in about %}
					<form method="POST" action="{% url 'login' id.user_id %}">{% csrf_token %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text text-white p-3 "
									style="background-color: #f7ba5b; border: none;"><i class="fas fa-key "></i></span>
							</div>

							<input type="password" style="border: none;" name="new_password" placeholder="Password..."
								class="form-control">
						</div>

						<div class="d-flex justify-content-center mt-3 login_container">
							<input class="btn fs-5 rounded-pill text-white  btn-info w-100" type="submit" value="Login">
						</div>
					</form>
					{% endfor %}

				</div>
				{% for id in about %}
				<h6 class="text-center mt-4"><a class="text-primary text-decoration-none" href="{% url 'resetpass' id.user_id  %}">Forget your password?</a></h6>
				{% endfor %}

				{% for message in messages %}
				<p id="messages">{{message}}</p>
				{% endfor %}

			</div>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>