{% extends 'myfolio/basic.html' %}

{% block title %}!!!RESET!!!{% endblock %}
{% block fav %}https://infosoftcrux.com/images/logo2.png{% endblock %}

{% block css %} 
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: content-box radial-gradient(#6596d2,black) !important;
    }


    #messages {
        background-color: grey;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class=" bg-dark p-4 userbox rounded">
            <div class="d-flex pb-3  justify-content-center">
                <h3 class="text-white" id="form-title">RESET</h3>
            </div>
            <div class="d-flex justify-content-center form_container ">
                
                <form action="{% url 'resetpass' id %}" method="POST">{% csrf_token %}
                    <div class="input-group mb-2">
                        <div class="input-group-append">
							<span class="input-group-text  text-white p-3" style="background-color: #f7ba5b; border: none;"><i class="fas fa-envelope-square"></i></span>
						</div>
                        <input type="email"  style="border: none;" name="usermail" placeholder="your resgitered email"
                            class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn fs-5 rounded-pill text-white  btn-info w-100" type="submit" value="REQUEST OTP">
                    </div>
                </form>
                
            </div>

            {% for message in messages %}
            <p class="text-white" id="messages">{{message}}</p>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
